*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    text-align: center;
    font:9pt tahoma;
}
a{
    text-decoration: none;
    color:#ff9900;
}
.clear{
    clear:both;
}
.container{
    width:1170px;
    min-height: 300px;
    border:1px solid #999;
    margin:30px auto;
    padding: 10px 5px;
    text-align: justify;
    overflow:auto;
}
.product-gallery li{
    list-style: none;
    width:16.2%;
    float:right;
    text-align: center;
    margin-left:5px;
    margin-bottom: 10px;

    border:1px solid #efefef;
    border-radius:5px;
    padding:5px;
    display: inline-block;
    min-height: 320px;
}
.product-gallery li:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    border-color:#ccc;
}
.product-gallery .product-item img{
    margin:10px auto;
}
.product-gallery .product-title{
    font-size: 10pt;
    display:block;
    margin:10px auto;
    color:#000;
}
.product-gallery .product-title:hover{
    color:#999;
}
.product-gallery .product-price{
    margin:10px;
    color:red;

}
.product-gallery .add-to-cart{
    background-color: green;
    display: inline-block;
    color:#fff;
    padding:5px 15px 10px;

    width:auto;
    border:1px solid green;
    border-radius: 5px;
}
.product-gallery .add-to-cart:hover{
    background-color: #fff;
    color:green;
}
