body{
	direction:rtl;
	font-size:14px;
	font-family:IRANSans;
	color:#333;
	text-align:justify;
}
p{
	font:8pt tahoma;
	
}
.divider{
	clear:both;
}
#left-panel{
	width:75%;
	background-color: green;
	min-height:150px;
	float:right;
	display: inline;

}
#right-panel{
	width:25%;
	background-color: #ff0000;
	min-height:150px;
	float:right;
	display: inline;
}
#right-panel img{
	max-height: 50px;
}
div{

}
#header{
}
.site-header{
}
.site-header1,#header{
}